In [1]:
# Importando bibliotecas
# Por convenção vamos chamar o pandas de pd
import pandas as pd

In [5]:
# Carregar o arquivo csv
# Pandas vai converter o arquivo em um Dataframe
# Por convenção vamos chamar o Dataframe as df
# O arquivo é separado por ';' e por isso informammos o separador
# O arquivo é codificado como cp1252

df = pd.read_csv('PDA_2020_Unidades_Rede_Federal_EPCT.csv', sep=(';'), encoding= 'cp1252')

# Mostras as cinco primeiras linhas 
df.head()

,SIGLA_INSTITUICAO,NOME_UNIDADE_ENSINO,ANO,SIGLA_UF_UNIDADE_ENSINO,NOME_MUNICIPIO_UNIDADE_ENSINO
0,IFAC,Campus Cruzeiro do Sul,2011,AC,Cruzeiro do Sul
1,IFAC,Campus Rio Branco,2011,AC,Rio Branco
2,IFAC,Campus Avançado Rio Branco Baixada do Sol,2014,AC,Rio Branco
3,IFAC,Campus Sena Madureira,2011,AC,Sena Madureira
4,IFAC,Campus Tarauac,2013,AC,Tarauac

In [6]:
# Quantas escolas ?
df.count()

SIGLA_INSTITUICAO                665
NOME_UNIDADE_ENSINO              665
ANO                              665
SIGLA_UF_UNIDADE_ENSINO          665
NOME_MUNICIPIO_UNIDADE_ENSINO    665
dtype: int64

In [8]:
# Descreve as colunas numericas
df.describe()

               ANO
count   665.000000
mean   2001.210526
std      24.789127
min    1909.000000
25%    2007.000000
50%    2010.000000
75%    2014.000000
max    2020.000000

In [10]:
# Mostra os  tipos de cada coluna do Dataframe
df.dtypes

SIGLA_INSTITUICAO                object
NOME_UNIDADE_ENSINO              object
ANO                               int64
SIGLA_UF_UNIDADE_ENSINO          object
NOME_MUNICIPIO_UNIDADE_ENSINO    object
dtype: object

In [ ]:
df['']